#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: space-between;
}

#display {
    width: 600px;
    height: 150px;
    border-style: solid;
}

button {
    width: 150px;
    height: 150px;
}